@charset "UTF-8";

.channel_view {
  width: calc(100% - 280px);
  padding: 20px;
  box-sizing: border-box;
}

.channel_content {
  height: calc(100vh - 120px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat_view {
  margin: 15px 0;
  overflow-y: auto;
  padding-right: 10px;
}

.chat_list .user_profile {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 15px;
}

.chat_list .chat_item {
  display: flex;
  margin: 10px 0;
}

.channel_view .editor {
  flex-shrink: 0;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  position: relative;
}

.channel_view .editor button {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding: 7px 20px;
  font-size: 20px;
  transition: .2s;
  color: rgb(104, 53, 199);
}

.channel_view .editor button:hover {
  color: rgb(58, 23, 124);
}

.channel_view .editor input {
  width: calc(100% - 70px);
  padding: 10px 50px 10px 10px;
}

.channel_view .editor input:focus {
  outline: 2px solid rgba(0, 140, 255, 0.452);
}